@{
    ViewData["Title"] = "Accueil";
    ViewBag.HeaderTitle = "Bienvenue dans le TP HN";
    ViewBag.Link1Title = "Remplir le formulaire";
    ViewBag.Link1 = "Form";
    ViewBag.Link2Title = "Liste des avis";
    ViewBag.Link2 = "OpinionList";
}

<!--La structure de la page étant définie dans le layout, on ajoute
    les éléments pertinent au corps de la page index.
-->
    <p>
        <a href="/Home/Index/Form">Remplir le formulaire</a>
    </p>

